AUTH_SECRET=your-secret-key
AUTH_TRUST_HOST=true

CLOUDFLARE_ACCOUNT_ID='your-cloudflare-account-id'
R2_ACCESSKEY_ID='your-r2-access-key-id'
R2_SECRET_ACCESS_KEY='your-r2-secret-access-key'
R2_PUBLIC_URL='your-r2-public-url'
R2_BUCKET_NAME='your-r2-bucket-name'

ROOT_DOMAIN='http://localhost:3000'
DOMAIN='your-domain.com'
PAYSTACK_SECRET_KEY='your-paystack-secret-key'

DATABASE_CONNECTION_STRING="postgresql://user:1234@localhost:5432/database"
RESEND_API_KEY='your-resend-api-key'
